body {
    background-color: rgb(202, 200, 204);
    margin: 0;
    display: inline;
}

form {
    background-color: rgb(191, 187, 196);
    border-radius: 10px;
    width: 500px;
    height: 400px;
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #c8b5c9;
    color: #d8d1d1;
    border: none;
    padding: 20px 100px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

p {
    color: black;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
}

h2{
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 50px;

}

#item1 {

    gap: 160px;
    width: 300px;

}

#lista {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.sidebar {
    margin: 0;
    padding: 100;
    background-color: #a58fa6;
    font-family: Arial, Helvetica, sans-serif;

}


.sidebar a {
    display: block;
    color: rgb(66, 56, 66);
    padding: 16px;
    text-decoration: none;
}


.sidebar a.active {
    background-color: #613861;
    color: white;
}

p {
    font-size: 12px;
}

.sidebar a:hover:not(.active) {
    background-color: #a386a3;
    color: white;
}

b {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}